@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color{
  background-color: #090091;
}
.input {
  @apply w-full p-2 rounded-xl mt-4 bg-orange-950/20 shadow shadow-orange-950 focus:outline-none placeholder:text-orange-950/60 placeholder:text-opacity-50
}

.button {
  @apply flex justify-center items-center p-3 py-2 text-white bg-red-950 disabled:bg-red-950/80 font-semibold rounded-xl mt-5 font-serif shadow
}

.primary-bg {
  @apply w-screen flex flex-col 
}

.reader__dashboard_section{
  display: flex;
  flex-direction: column;
}

input:checked {
  background-color: green;
}
.login{
  background: url("/images/crime.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}